<!-- <app-prova></app-prova> -->

<button matButton="filled" style="margin: 15px" (click)="onClick()">Basic</button>

<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input
    matInput
    placeholder="Ex. Pizza"
    value="Sushi"
    [(ngModel)]="title"
    evidenziaElemento
    disabled
  />
</mat-form-field>
<p>{{ title }}</p>

<!-- VERSIONE MODERNA -->
@if (isVisible){
<p>Visibile</p>
} @else {
<p>Non visibile</p>
}

<!-- VERSIONE LEGACY -->
<p *ngIf="isVisible">visibile</p>
<p *ngIf="!isVisible">Non visibile</p>

<!-- <p *ngIf="isVisible; else bloccoElse">Sono visibile</p>
<ng-template #bloccoelse>
  <p>non sono visibile</p>
</ng-template> -->

<!-- <ng-template></ng-template> -->

<!-- <button *ngIf="isOnline"></button>
<button *ngIf="!isOnline"></button> -->

<!-- *ngFor = array di cani
<app-prova> cani[0].nome</app-prova>
<app-prova> cani[1].nome</app-prova> -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
